@font-face {
	font-family: "Antonio";
	font-display: swap;
	font-weight: 400;
	src: url('../../fonts/Antonio-Regular.woff2') format('woff');
}

@font-face {
	font-family: "Antonio";
	font-display: swap;
	font-weight: 600;
	src: url('../../fonts/Antonio-SemiBold.woff2') format('woff');
}

@font-face {
	font-family: "HelveticaNeueLTProTrenazieri";
	font-display: swap;
	font-weight: 400;
	src: url('../../fonts/HelveticaNeueLTProTrenazieri-Extended.woff2') format('woff');
}

@font-face {
	font-family: "HelveticaNeueLTProTrenazieri";
	font-display: swap;
	font-weight: 600;
	src: url('../../fonts/HelveticaNeueLTProTrenazieri-Medium.woff2') format('woff');
}

@font-face {
	font-family: "HelveticaTrenazieri";
	font-display: swap;
	font-weight: 400;
	src: url('../../fonts/HelveticaTrenazieri-Regular.woff2') format('woff');
}

@font-face {
	font-family: "HelveticaTrenazieri";
	font-display: swap;
	font-weight: 700;
	src: url('../../fonts/HelveticaTrenazieri-Bold.woff2') format('woff');
}