$color-white: #ffffff;
$color-black: #000000;
$color-green: #266f79;
$color-red: #f54f4f;
$color-orange: #e07425;
$color-text: #222222;

$font-base: "HelveticaTrenazieri", sans-serif;
$font-title: "Antonio", sans-serif;
$font-title2: "HelveticaNeueLTProTrenazieri", sans-serif;

$desktop-extra-wide-width: 1600px;
$desktop-wide-width: 1300px;
$desktop-narrow-width: 1300px;
$tablet-width: 992px;
$phone-width: 767px;

$fontweight-extralight: 100;
$fontweight-light: 300;
$fontweight-regular: 400;
$fontweight-medium: 500;
$fontweight-semibold: 600;
$fontweight-bold: 700;